<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalyearprojectadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".centerData.CenterDataMain"
            android:parentActivityName=".HomeDashBoard"/>
        <activity
            android:name=".ChangeProfile"
            android:parentActivityName=".HomeDashBoard" />
        <activity
            android:name=".missingPersonAdmin.DeleteMissingPosts"
            android:parentActivityName=".missingPersonAdmin.MissingPersonUploadData" />
        <activity
            android:name=".missingPersonAdmin.MissingPersonUploadData"
            android:parentActivityName=".HomeDashBoard" />
        <activity
            android:name=".bloodRequest.DeletePosts"
            android:parentActivityName=".bloodRequest.BloodRequest" />
        <activity
            android:name=".bloodRequest.BloodRequest"
            android:parentActivityName=".HomeDashBoard" />
        <activity
            android:name=".addDriver.DeleteDriverDetail"
            android:parentActivityName=".addDriver.AddDriver" />
        <activity
            android:name=".addDriver.AddDriver"
            android:parentActivityName=".HomeDashBoard" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:parentActivityName=".SignIn" />
        <activity
            android:name=".HomeDashBoard"
            android:parentActivityName=".SignIn" />
    </application>

</manifest>